version: '3.7'

services:

    webapp:
        container_name: webapp
        image: webapp:dev
        build:
            context: ../hub-front
            dockerfile: ../hub-front/Dockerfile
        volumes:
            - '../hub-front:/app'
            - '../hub-front:/node_modules'
        ports:
            - '4200:4200'

    api:
        container_name: api
        image: python:dev
        build:
            context: ../hub-back
            dockerfile: ../hub-back/Dockerfile
        volumes:
            - '../hub-back:/app'
        ports:
            - '5000:5000'

    web:
        container_name: frost
        image: fraunhoferiosb/frost-server:latest
        environment:
            - serviceRootUrl=http://frost:8080/FROST-Server
            - http_cors_enable=true
            - http_cors_allowed.origins=*
            - persistence_db_driver=org.postgresql.Driver
            - persistence_db_url=jdbc:postgresql://database:5432/sensorthings
            - persistence_db_username=sensorthings
            - persistence_db_password=ChangeMe
            - persistence_autoUpdateDatabase=true
            - persistence_persistenceManagerImplementationClass=de.fraunhofer.iosb.ilt.sta.persistence.pgjooq.imp.PostgresPersistenceManagerString
            - persistence_idGenerationMode=ServerAndClientGenerated
        ports:
            - 8080:8080
            - 1883:1883
        depends_on:
            - database
    
    database:
        container_name: frostdb
        image: postgis/postgis:11-2.5-alpine
        environment:
            - POSTGRES_DB=sensorthings
            - POSTGRES_USER=sensorthings
            - POSTGRES_PASSWORD=ChangeMe
        volumes:
            - postgis_volume:/var/lib/postgresql/data
volumes:
    postgis_volume: