{
  "APP_NAME": "IOW Data API",
  "APP_DESCRIPTION": "",
  "APP_LICENSE": "",
  "APP_VERSION": "1.0.0",

  "DEBUG": true,
  "USE_RELOADER": true,
  "TESTING": false,

  "MODULE_PATH": "app/modules",

  "WEB_APP_URL": "http://localhost:9000",


  "WTF_CSRF_ENABLED": false,

  "ACCESS_CONTROL_ALLOW_ORIGIN": [
        "http://localhost:4000",
        "http://localhost:5000",
        "http://localhost:9000",
        "http://localhost:9001",
        "http://localhost:4200",
        "http://127.0.0.1:4000",
        "http://127.0.0.1:5000",
        "http://127.0.0.1:9000",
        "http://127.0.0.1:9001",
        "https://127.0.0.1:4200",
        "https://127.0.0.1:4200"
  ],
  "ACCESS_CONTROL_ALLOW_METHODS": "GET, POST, PUT, PATCH, DELETE, OPTIONS",
  "ACCESS_CONTROL_ALLOW_HEADERS": "Authorization, Accept, Content-Type, X-Requested-With, Origin, Cache-Control, Access-Control-Request-Method, Access-Control-Request-Headers, Expires, Set-Cookie",
  "ACCESS_CONTROL_ALLOW_CREDENTIALS": true
}
