<nav class="button-navigation">
    <div class="container-fluid">
        <ul >
            <li><a href="/" class="button"  class="button button-primaryAction">Configuration Builder</a></li>
        </ul>    
    </div>
</nav>

<div class="container-fluid siteContent">
    <h1 class="heavy">{{title}}</h1>

    <article class="form">
        <div class="double-top" name="data_wizard">
            <div>                <hr />
                <fieldset class="form-fieldset">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="single-space">
                                    <label class="form-label" for="cron_job_name">Name of Cron Job (required)</label>
                                    <input class="form-control" type="text"  id="cron_job_name" required
                                    [(ngModel)]="transform_config.settings.cron_job_name">
                                </div>
                                <!-- FILE UPLOAD -->
                                <div class="single-space">
                                    
                                    <label  class="form-label" for="load_config">Load Config</label>
                                    <input type="file" class="form-control" 
                                        id="load_config"
                                        (change)="onLoadConfig($event)" >
                                    
                                   
                                        {{configFileName || "No file uploaded yet."}}
                                                {{successful_config_load}}
                                </div>
         
                                <div class="single-space" *ngIf="configFileName.length>0">
                                    <label class="form-label" for="load_via_url">Data Source</label>
                                    <input class="form-control" type="url"  id="load_via_url"
                                    [(ngModel)]="transform_config.settings.file_url">
                                    <button type="button" (click)="upload_via_url($event);dataFromUrl=transform_config.settings.file_url" class="button button-primaryAction" >Get Data</button>
                                </div>
                                <div class="single-space" *ngIf="configFileName.length>0 && dataFromUrl.length>0 && file_contents_local.status==='File Loaded'">
                                    <label class="form-label" for="interval">How often do you want the data to be imported?</label>
                                    <select class="form-control" [(ngModel)]="interval" id="interval" name="interval">
                                        <option value="15mins">Every 15 Mins</option>
                                        <option value="hourly">Hourly</option>
                                        <option value="nightly">Nightly</option>
                                        <option value="weekly">Weekly</option>
                                        <option value="monthly">Monthly</option>
                                    </select>
                                </div>
                                <div class="single-space" *ngIf="configFileName.length>0 && dataFromUrl.length>0 && file_contents_local.status==='File Loaded'">
                                    <input type="button" value="Schedule" class="button" (click)="schedule_cron(configFileName,transform_config.settings.file_url,interval,transform_config.settings.cron_job_name)" />
                                </div>

                            </div>
                        </div>
                    </div>
                </fieldset>
                
                <fieldset class="form-fieldset">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <h2 class="caps">History</h2>

                                <div>
                                    <h1 >Log</h1>
                                    <div class="form-group">
                                        <table class="table" width="100%">
                                            <tr>
                                                <td class="heavy" width="25%">Date</td>
                                                <td class="heavy" width="25%">Status</td>
                                                <td class="heavy" width="25%">Task</td>
                                                <td class="heavy" width="25%">Notes</td>
                                            </tr>
                                            <tr *ngFor="let item of logs; let i = index">
                                                <td width="25%">{{item.date}}</td>
                                                <td width="25%">{{item.status}}</td>
                                                <td width="25%">{{item.task}}</td>
                                                <td width="25%">{{item.notes}}</td>
                                            </tr>
                            
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </fieldset> 
                <fieldset class="form-fieldset">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <h2 class="caps">History</h2>

                                <div>
                                    <h1 >Log</h1>
                                    <div class="form-group">
                                        <table class="table" width="100%">
                                            <tr>
                                                <td class="heavy" width="25%">Name</td>
                                                <td class="heavy" width="25%">Interval</td>
                                                <td class="heavy" width="25%">Notes</td>
                                                <td class="heavy" width="25%">Action</td>
                                            </tr>
                                            <tr *ngFor="let item of cron_jobs; let i = index">
                                                <td width="25%">{{item.name}}</td>
                                                <td width="25%">{{item.interval}}</td>
                                                <td width="25%">{{item.notes}}</td>
                                                <td width="25%">Remove</td>
                                            </tr>
                            
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </fieldset> 
            </div>
        </div>
    </article>
</div>