
<article class="form">
    <div class="double-top" name="data_wizard">

        {{file_contents | json}}

        <div *ngFor="let group of groups"  class="form-group" >
            <h2 class="big heavy caps">{{group.group_name}}</h2>    
            <hr />
            <fieldset class="form-fieldset" >
                
                <div class="row">
                    <div class="col-xs-12">

                        <div *ngFor="let item of setting_fields"  class="form-group">
                            <div *ngIf="group.group_name === item.field.component.group">
                                <!-- TEXTFIELD -->
                                <div class="single-space" *ngIf="item.field.component.name==='textfield'">
                                    <label  class="form-label" for="{{item.field.field_name}}">{{item.field.field_label}}</label>
                                    <input class="form-control" [(ngModel)]="item.datavalue" placeholder="{{item.field.field_placeholder}}" id="{{item.field.field_name}}">
                                </div>

                                <!-- SELECT -->                            
                                <div class="single-space" *ngIf="item.field.component.name=='select'">
                                    <label  class="form-label" for="{{item.field.field_name}}">{{item.field.field_label}}</label>
                                    <div class="container--selection single-space">               
                                        <select class="form-control" id="{{item.field.field_name}}"
                                                required="item.field.is_required"
                                                selected
                                                [(ngModel)]="transform_config[item.field.model][item.field.param]" name="{{item.field.field_name}}"
                                                #{{item.field.field_name}}="ngModel">
                                        <option *ngFor="let val of item.field.component.options.values" [value]="val">{{val}}</option>
                                        </select>                               
                                    </div>
                                    <div [hidden]="transform_config[item.field.model][item.field.param].length > 0" class="single--top alert error">
                                        {{item.field.field_label}} is required
                                    </div>
                                </div>

                                <!-- SELECT OPTIONS -->                            
                                <div class="single-space" *ngIf="item.field.component.name=='select_options'">

                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label  class="form-label" for="{{item.field.field_name}}">{{item.field.field_label}}</label>
                                            <div class="container--selection single-space width-95">               
                                                <select class="form-control" id="{{item.field.field_name}}"
                                                        required="item.field.is_required"
                                                        selected
                                                        [(ngModel)]="transform_config[item.field.model][item.field.param]" name="{{item.field.field_name}}"
                                                        #{{item.field.field_name}}="ngModel">
                                                <option *ngFor="let val of item.field.component.options.values" [value]="val">{{val}}</option>
                                                </select>                               
                                            </div>

                                        </div>

                                        <div class="col-xs-6">
                                            <label  class="form-label" for="{{item.field.field_name}}_value">Value</label>
                                            <input class="form-control marign--left" [(ngModel)]="item.datavalue" placeholder="{{item.field.field_placeholder}}" id="{{item.field.field_name}}_value">
                                        </div>

                                    </div>

                                    <!-- {{item.datavalue.length < 0}}
                                    {{transform_config[item.field.model][item.field.param] !== 'Custom Text'}} -->
                                    
                                    <div [hidden]="transform_config[item.field.model][item.field.param] !== 'Custom Text'" class="single--top alert error">
                                        {{item.field.field_label}} is required
                                    </div>
                                </div>

                                
        
                                <!-- FILE UPLOAD -->
                                <div class="single-space" *ngIf="item.field.component.name==='file_upload'">
                                    <label  class="form-label" for="{{item.field.field_name}}">{{item.field.field_label}}</label>
                                    <input type="file" class="form-control" [(ngModel)]="item.datavalue" 
                                           placeholder="{{item.field.field_placeholder}}" 
                                           id="{{item.field.field_name}}"
                                           (change)="onFileSelected($event)" #fileUpload>

                                           <div class="file-upload">

                                            {{fileName || "No file uploaded yet."}}
                                         
                                             <button mat-mini-fab color="primary" class="upload-btn"
                                               (click)="fileUpload.click()">
                                                 icon here
                                             </button>
                                         </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>  
        <div>
            <button type="button" (click)="create_config()" class="button button-primaryAction">Create Config</button>
        </div>
        <!-- END SETTINGS -->
        <!-- <fieldset class="form-fieldset" >
            <div class="row">
                <div class="col-xs-12">
                    <div *ngFor="let field of fields"  class="form-group">
                        <label  class="form-label">{{field.label}}</label>
                        <input class="form-control" [(ngModel)]="field.datavalue" placeholder="{{field.placeholder}}">
                    </div>
                </div>
            </div>
        </fieldset>
        <h2 class="big heavy caps">Location</h2>    
        <hr />
        <fieldset class="form-fieldset" >
            <div class="row">
                <div class="col-xs-12">
                    <div *ngFor="let field of fields"  class="form-group">
                        <label  class="form-label">{{field.label}}</label>
                        <input class="form-control" [(ngModel)]="field.datavalue" placeholder="{{field.placeholder}}">
                    </div>
                </div>
            </div>
        </fieldset>
        <h2 class="big heavy caps">Data Stream</h2>    
        <hr />
        <fieldset class="form-fieldset" >
            <div class="row">
                <div class="col-xs-12">
                    <div *ngFor="let field of fields"  class="form-group">
                        <label  class="form-label">{{field.label}}</label>
                        <input class="form-control" [(ngModel)]="field.datavalue" placeholder="{{field.placeholder}}">
                    </div>
                </div>
            </div>
        </fieldset> -->
    </div>


</article>
